@charset "UTF-8";

table, tr {
	/* border: 1px solid black; */
	border-collapse: collapse;
}

tbody {
	font-size: 10px;
}

tbody>tr:hover {
	background-color: rgb(255, 247, 238);
}

table {
	position: absolute;
	top: 110px;
	left: 400px;
	width: 1000px;
	text-align: center;
}

th {
	background-color: rgb(255, 245, 233);
	height: 50px;
	border-bottom: 2px solid #c9c9c9;
}

img.product {
	width: 50px;
	height: 50px;
}

div.pagination {
	display: flex;
	position: absolute;
	width: 800px;
	top: 750px;
	left: 500px;
}

div.pagination>div {
	height: 20px;
	width: 20px;
	/* border: 1px solid gray; */
	margin: auto;
	text-align: center;
	/* border: 1px solid #2e2e33; */
	border-radius: 4px;
}

div.pagination>div:active {
	font-size: 15px;
	box-shadow: 1px 1px 1px 1px #666 inset;
}

div.searchBar {
	display: flex;
	position: absolute;
	width: 800px;
	top: 705px;
	left: 700px;
}

div.searchBar>input {
	border-radius: 10px;
	width: 300px;
}

div.searchBar>input:focus {
	background-color: rgb(255, 251, 247);
}

div.searchBar>select {
	border-radius: 10px;
	background-color: #f7f7f7;
}

div.searchBar>.search {
	position: relative;
	border: 0px solid white;
	border-radius: 10px;
	background-color: rgb(255, 247, 238);
	left: 5px;
}

div.searchBar>.write {
	position: relative;
	border: 0px solid white;
	border-radius: 10px;
	background-color: #e5fff3;
	left: 200px;
	width: 100px;
	height: 30px;
	font-weight: bold;
}

div.searchBar>.write:active {
	box-shadow: 2px 2px 2px 2px #666 inset;
}

div.searchBar>img {
	position: relative;
	widows: 20px;
	height: 20px;
	left: 5px;
}

#overlay {
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: #2e2e33;
	opacity: 0.7;
	visibility: hidden;
	z-index: 1;
}

#content {
	position: absolute;
	width: 700px;
	height: 550px;
	background-color: rgb(255, 245, 233);;
	border-radius: 40px;
	top: 100px;
	left: 500px;
	z-index: 2;
	visibility: hidden;
	box-shadow: 4px 4px 4px 4px rgb(255, 209, 209);
	padding: 5px 50px;
}

#board-write {
	text-align: center;
	text-shadow: 2px 2px 2px 2px #707070;
	font-size: 15px;
}

#content>div>input {
	position: relative;
	width: 300px;
	height: 30px;
	border-radius: 10px;
	margin: 15px;
	left: 50px;
}

#content>div>input:focus {
	position: relative;
	width: 300px;
	height: 30px;
	border-radius: 10px;
	margin: 10px;
	left: 40px;
	box-shadow: 2px 2px 2px 2px #707070;
}

textarea {
	position: relative;
	border-radius: 20px;
	width: 500px;
	height: 120px;
	left: 50px;
	top: 20px;
}

textarea:focus {
	position: relative;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 2px #707070;
}

#content>div>select {
	position: relative;
	left: 60px;
	border-radius: 5px;
	width: 100px;
}

#content>div span {
	display: inline-block;
	width: 50px;
}

#text {
	position: relative;
	top: 00px;
}

#search-product {
	position: relative;
	width: 20px;
	height: 20px;
	left: 42px;
	top: 4px;
	cursor: pointer;
}

#search-img {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	float: right;
	right: -25px;
	top: 10px;
}

#search-img>img {
	width: 150px;
	height: 150px;
	border-radius: 100px;
}

#write-review {
	position: relative;
	top: 40px;
	left: 140px;
}

#write-review>button {
	background-color: #d2edff;
	border-radius: 10px;
	width: 170px;
	height: 40px;
	color: #666;
	margin: 0px 20px;
}